$purple: #541690;
$orange: #FF4949;
$lighter-orange: #FF8D29;
$yellow: #FFCD38;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: $purple;
  }
  
  #container{
    width: 100vw;
    height: 100vh;
    background-color: $purple;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reminder{
    width: 400px;
    background-color: $orange;
    padding: 10px;
  }

  h1{
    text-align: end;
    font-weight: 100;
    padding: 10px;
  }

  li{
    background-color: $lighter-orange;
    display: flex;
    align-items: center;
    position: relative;
    div{
        padding: 5px;
    }
  }

  li:hover{
    background-color: $yellow;
  }

  img{
    width: 75px;
    height: 75px;
    margin: 5px 0px 5px 10px;
    border-radius: 100%;
    border: 5px solid $purple;
}

.name{
    font-size: 20px;
}

#clear{
    color: $purple;
    background-color: $yellow;
    font-size: 25px;
    border: 3px solid $purple;
    display: block;
    margin: auto;
    bottom: 0px;
}

i{
  position: absolute;
  right: 20px;
  font-size: 20px;
}